// Variables
@import 'guide';

#banner{
    .swiper-wrapper{
        width: 100%;
        height: 600px;
       
        .img1{
            @include img_style;
            background-image: url(../images/banner1.jpg);
        }
        .img2{
            @include img_style;
            background-image: url(../images/banner2.jpg);
        }
        .img3{
            @include img_style;
            background-image: url(../images/banner3.jpg);
        }
    }
}