#banner .swiper-wrapper {
  width: 100%;
  height: 600px;
}

#banner .swiper-wrapper .img1 {
  background-position: center;
  background-size: cover;
  background-image: url(/images/banner1.jpg?37540a516f288dce4c890f6164884589);
}

#banner .swiper-wrapper .img2 {
  background-position: center;
  background-size: cover;
  background-image: url(/images/banner2.jpg?24ee7ce8ca82effe41cf26dc0faf44f5);
}

#banner .swiper-wrapper .img3 {
  background-position: center;
  background-size: cover;
  background-image: url(/images/banner3.jpg?39678937678ed7b037084591130ef4b7);
}

